.videos-container {
  position: absolute;
  top: 50px;
  left:50%;
  transform: translateX(-50%);
  /*background-color: red;*/
}

.videos-max-connections {
  width: 625px;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
}

.animated {
  display: flex;
}

.carousel-slider {
  display: flex;
}
.slick-list{
  position: absolute;
  left: 0;
  top: 0;
  height: 210px;
  width: 320px;
}

/*.slick-arrow {*/
/*  background-color: red;*/
/*}*/
