#change-character {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: -100;
  top: 30;
  background-color: #c7c7c7;
}

#change-character img {
  object-fit: cover;
  object-position: 0 0;
  width: 32px;
  height: 32px;
  margin: 2px 0;
}

#change-character .not-selected {
  opacity: 0.5;
}
